[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/glew"]
	path = external/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "external/eventpp"]
	path = external/eventpp
	url = git@github.com:wqking/eventpp.git
